<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Sencha Examples</title>
    <script type="text/javascript" src="extjs/ext-all-debug.js"></script>
    <link rel="stylesheet" type="text/css" href="extjs/resources/css/ext-all.css">
    <style id="iframeCSS" type="text/css"></style>
    <script type="text/javascript">
        var refreshPage = function(code, css) {
            try {
                document.body.innerHTML = '';
                eval(code);
                Ext.get('iframeCSS').update(css);
            } catch (e) {
                alert(e);
                document.body.innerHTML = e;
            }
        }
    </script>
</head>
<body>
</body>
</html>
