<!DOCTYPE html>
<html>
<head>
  <title>Ext JS API</title>
  <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
  <link rel="stylesheet" href="resources/css/reset.css" type="text/css" />
  <link rel="stylesheet" href="resources/css/docs-ext.css" type="text/css" />
  <link rel="stylesheet" href="resources/css/style.css" type="text/css" />
  <link rel="stylesheet" href="resources/css/scrollbars.css" type="text/css" />
  <link rel="stylesheet" href="prettify/prettify.css" type="text/css" />
</head>
<body id="ext-body" class="iScroll">
  <div id="notice" class="notice">
    For up to date documentation and features, visit <a href="http://docs.sencha.com/ext-js/4-0">http://docs.sencha.com/ext-js/4-0</a>
  </div>

  <div class="wrapper">
    <div class="head-band"></div>

    <div class="header">
      <h2><a href="index.html">Sencha Documentation</a></h2>
    </div>

    <div id="search">
      <form>
        <input type="text" placeholder="Search" id="search-field" autocomplete="off" name="q" />
      </form>

      <div id="search-box"></div>
    </div>

    <div id="treePanel"></div>

    <div id="container">
      <label style="float: right; padding: 10px 25px 0 0; display: none"><input type="checkbox" id="hideUnpopularClasses" />&nbsp; Popular classes</label>

      <div id="top-block">
        <h1>Ext JS 4.0 API Documentation</h1>
      </div>

      <div id="docContent" class="iScroll">

        <div id="api-overview" class="piechartLinks">

          <div class="legend icons">
            <h4>Legend</h4>
            <ul>
              <li class="icn icon-pkg">Package</li>
              <li class="icn icon-class">Class</li>
              <li class="icn icon-singleton">Singleton</li>
              <li class="icn icon-component">Component</li>
              <li class="icn icon-book">Guide</li>
            </ul>
          </div>

          <div class="legend guides">
            <h4>Guides</h4>
            <div class="lft">
              <a href="guides/getting_started/index.html" class="getting_started">Getting Started</a>
              <a href="guides/class_system/index.html" class="class_system">Class System</a>
              <a href="guides/application_architecture/index.html" class="application_architecture">MVC Architecture</a>
              <a href="guides/layouts_and_containers/index.html" class="layouts_and_containers">Layouts and Containers</a>
            </div>
            <div class="mid">
              <a href="guides/data/index.html" class="data">Data</a>
              <a href="guides/grid/index.html" class="grid">Grids</a>
              <a href="guides/tree/index.html" class="tree">Trees</a>
              <a href="guides/drawing_and_charting/index.html" class="drawing_and_charting">Charts</a>
            </div>
            <div class="right">
              <a href="guides/components/index.html" class="components">Components</a>
              <a href="guides/theming/index.html" class="theming">Theming</a>
              <a href="guides/direct/index.html" class="direct">Direct</a>
              <a href="guides/accessibility/index.html" class="accessibility">Accessibility</a>
            </div>
          </div>

        </div>

        <div id="api-guide"></div>

        <div id="api-class"></div>

      </div>

      <div style="clear: both"></div>
    </div>
  </div>

  <script type="text/javascript" src="extjs/ext-all-debug.js"></script>
  <script type="text/javascript" src="prettify/prettify.js"></script>
  <script type="text/javascript">
    req = {
      liveURL: '.',
      standAloneMode: true,
      origDocClass: 'undefined',
      docClass: 'undefined',
      docReq: 'undefined',
      version: '4.0',
      baseURL: '.',
      baseDocURL: '.',
      baseProdURL: '.'
    };
    clsInfo = {};
    Docs = {};
  </script>
  <script type="text/javascript" src="output/tree.js"></script>

  <script type="text/javascript" src="js/functions.js"></script>

  <script type="text/javascript" src="js/App.js"></script>
  <script type="text/javascript" src="js/History.js"></script>
  <script type="text/javascript" src="js/PageHeader.js"></script>
  <script type="text/javascript" src="js/ClassTree.js"></script>
  <script type="text/javascript" src="js/OverviewPanel.js"></script>
  <script type="text/javascript" src="js/OverviewToolbar.js"></script>
  <script type="text/javascript" src="js/ClassPanel.js"></script>
  <script type="text/javascript" src="js/SourceCodePanel.js"></script>
  <script type="text/javascript" src="js/Guides.js"></script>

  <script type="text/javascript" src="js/search.js"></script>
  <script type="text/javascript" src="js/init.js"></script>
</body>
</html>
