<!DOCTYPE html>
<html>
<head>
  <title>{title}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="fragment" content="!">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
  <!-- BEGIN CSS -->
  <link rel="stylesheet" href="resources/css/docs-ext.css" type="text/css" />
  <link rel="stylesheet" href="resources/css/viewport.css" type="text/css" />
  <link rel="stylesheet" href="resources/codemirror/codemirror.css" type="text/css" />
  <link rel="stylesheet" href="resources/prettify/prettify.css" type="text/css" />
  <!-- END CSS -->

</head>
<body style="background: #fff; min-width: 0;">

  <div id="north-region" style="padding: 1px 0 11px 11px">
    <div id="header-content">{header}</div>
  </div>
  <div id="center-container" class="class-overview" style="padding: 20px">
    <div class="x-panel-body">
      {categories}
      {guides}
    </div>
  </div>

  <script type="text/javascript">
  (function(){
    var protocol = (document.location.protocol === "https:") ? "https:" : "http:";
    document.write("<link href='"+protocol+"//fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />");
  })();
  </script>

</body>
</html>
