<!DOCTYPE html>
<html>
<head>
  <title>{title}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="fragment" content="!">

  {mobile_redirect}

  <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
  <!-- BEGIN CSS -->
  <link rel="stylesheet" href="resources/css/docs-ext.css" type="text/css" />
  <link rel="stylesheet" href="resources/css/viewport.css" type="text/css" />
  <link rel="stylesheet" href="resources/codemirror/codemirror.css" type="text/css" />
  <link rel="stylesheet" href="resources/prettify/prettify.css" type="text/css" />
  <!-- END CSS -->
  <link rel="stylesheet" href="{css_path}" type="text/css" />

  <script type="text/javascript" src="{extjs_path}"></script>
  <script type="text/javascript" src="{data_path}"></script>

  <!-- BEGIN JS -->
  <script type="text/javascript" src="resources/codemirror/codemirror.js"></script>
  <script type="text/javascript" src="resources/codemirror/javascript.js"></script>
  <script type="text/javascript" src="resources/codemirror/xml.js"></script>
  <script type="text/javascript" src="resources/codemirror/markdown.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="resources/prettify/prettify.js"></script>
  <!-- END JS -->

  {head_html}

</head>
<body id="ext-body">

  <div id="loading"><span class="title">{title}</span><span class="logo"></span></div>

  <div id="header-content">{header}</div>
  {welcome}
  {categories}
  {news}
  {guides}
  {footer}

  {body_html}

  <script type="text/javascript">
  (function(){
    var protocol = (document.location.protocol === "https:") ? "https:" : "http:";
    document.write("<link href='"+protocol+"//fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />");
  })();
  </script>

</body>
</html>
