<!DOCTYPE html>
<html>
<head>
  <title>{title}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="fragment" content="!">

  <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
  <!-- BEGIN CSS -->
  <link rel="stylesheet" href="resources/css/docs-ext.css" type="text/css" />
  <link rel="stylesheet" href="resources/css/viewport.css" type="text/css" />
  <link rel="stylesheet" href="resources/codemirror/codemirror.css" type="text/css" />
  <link rel="stylesheet" href="resources/codemirror/default.css" type="text/css" />
  <!-- END CSS -->
  <link rel="stylesheet" href="resources/prettify/prettify.css" type="text/css" />
  <!--[if IE]>
    <link rel="stylesheet" href="resources/css/ie.css" type="text/css" />
    <link rel="stylesheet" href="resources/css/welcome_ie6.css" type="text/css" />
  <![endif]-->

  <!-- Async script to not block while loading TypeKit fonts -->
  <script type="text/javascript">
  (function() {
    var TypekitConfig = {
      kitId: 'uxj6dew'
    };
    var tk = document.createElement('script');
    tk.src = '//use.typekit.com/' + TypekitConfig.kitId + '.js';
    tk.type = 'text/javascript';
    tk.async = 'true';
    tk.onload = tk.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs && rs != 'complete' && rs != 'loaded') return;
      try { Typekit.load(TypekitConfig); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(tk, s);
  })();
  </script>

  <script type="text/javascript" src="{extjs_path}"></script>
  <script type="text/javascript" src="data.js"></script>
  <!-- BEGIN JS -->
  <script type="text/javascript" src="resources/codemirror/codemirror.js"></script>
  <script type="text/javascript" src="resources/codemirror/javascript.js"></script>
  <script type="text/javascript" src="resources/codemirror/xml.js"></script>
  <script type="text/javascript" src="resources/codemirror/markdown.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <!-- END JS -->
  <script type="text/javascript" src="resources/prettify/prettify.js"></script>

  {head_html}

</head>
<body id="ext-body">

  <div id="loading"><span class="title"></span><span class="logo"></span></div>

  <form id="history-form" class="x-hide-display">
      <input type="hidden" id="x-history-field" />
      <iframe id="x-history-frame"></iframe>
  </form>

  <div id="header-content">{header}</div>
  {welcome}
  {categories}
  {guides}
  {footer}

  {body_html}

</body>
</html>
