.body-wrap {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    color: #222;
    background-color: #FFFFFF;
    margin: 0px;
    padding: 10px;
    position: relative;
    width: 95%;
}
.body-wrap,
.body-wrap td,
.body-wrap th {
    font-size: 13px;
}

.body-wrap a {
    color: #083772;
}
.body-wrap a:link {
    color: #083772;
    text-decoration: none;
}
.body-wrap a:visited {
    color: #1e4e8f;
    text-decoration: none;
}
.body-wrap a:hover {
    text-decoration: underline;
    color: #0000CC;
}
.body-wrap a:active {
    text-decoration: none;
    color: #1e4e8f;
}

/* Headings */
.body-wrap h1,
.body-wrap h2,
.body-wrap h3,
.body-wrap h4,
.body-wrap h5,
.body-wrap h6 {
    font-family: "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
    font-weight: bold;
    margin: 3px 300px 3px 0;
    letter-spacing: 1px;
    width: 90%;
}
/* <h1> is used for class name */
.body-wrap h1 {
    font-size: 18px;
}
/* <h2> is used for .member-table headings */
.body-wrap h2 {
    font-weight: bold;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 5px;
}
/* <h3> is used only by Ext.data.Connection */
.body-wrap h3 {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
}
/* <h4> is used only by Ext.DomQuery */
.body-wrap h4 {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #083772;
    border-bottom: 1px dashed #ccc;
    margin: 8px 0;
    padding-bottom: 3px;
}
/* <h5> is never used */
.body-wrap h5 {
    font-size: 11px;
}


/* Box containing tree of class parents */
.body-wrap .inheritance {
    margin-top: 20px;
    float: right;
    width: 210px;
}
    .body-wrap .inheritance pre {
        text-align: left;
        border: 0 none;
        margin: 0;
        font-size: 11px;
        line-height: 18px !important;
        background: transparent url(block-bottom.gif) no-repeat left bottom;
        padding: 0 8px 5px !important;
    }
    .body-wrap .inheritance pre img {
        vertical-align: middle;
        margin-right: 3px;
    }

/* Class properties */
.body-wrap .label {
    font-weight: bold;
    padding: 3px 15px 3px 0;
    color: #333;
}
.body-wrap .hd-info {
    color: #333;
    padding: 3px;
}
/* Class description */
.body-wrap .description {
    margin: 10px 3px;
}
/* horizontal line after description */
.body-wrap div.hr {
    height: 1px;
    background: #ccc;
    margin: 5px 0;
    overflow: hidden;
    line-height: 1px;
    /* Force the line always below inheritance tree */
    clear: both;
}


.body-wrap .member-table {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #d0d0d0;
    background-color: white;
}
.body-wrap .member-table th {
    text-align: left;
    vertical-align: middle;
    border-right: 1px solid #d0d0d0;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    background: #f9f9f9 url(images/default/grid/grid3-hrow.gif) repeat-x 0 top;
    padding: 3px;
}
.body-wrap .member-table td {
    padding: 4px;
    vertical-align: top;
    padding-right: 15px;
}
.body-wrap .member-table td.micon,
.body-wrap .member-table td.sig,
.body-wrap .member-table td.msource {
    border-top: 1px solid #d0d0d0;
}
.body-wrap .member-table td.micon {
    width: 16px;
    padding: 0;
    background: #f9f9f9 url(expand-bg.gif) repeat-y top right;
    border-right: 1px solid #d0d0d0;
}
    .body-wrap .member-table td.micon a {
        display: block;
        height: 1px;
        width: 1px;
        overflow: hidden;
        cursor: default;
    }
    .body-wrap .member-table .expandable td.micon a {
        display: block;
        width: 98%;
        height: 30px;
        text-decoration: none !important;
        -moz-outline: none;
        outline: none;
        background: transparent url(member-collapsed.gif) no-repeat 5px 6px;
        cursor: pointer;
    }
    .body-wrap .member-table .expandable td.micon:hover a {
        background: transparent url(member-hover.gif) no-repeat 5px 6px;
        cursor: pointer;
    }
    .body-wrap .member-table .expanded td.micon {
        background: #f9f9f9 url(expand-bg-over.gif) repeat-y top right;
    }
    .body-wrap .member-table .expanded td.micon a {
        background: transparent url(member-expanded.gif) no-repeat 5px 6px;
        cursor: pointer;
    }
.body-wrap .member-table td.sig {
    padding-left: 7px;
}
    .body-wrap .member-table td.sig .mdesc {
        padding: 5px 0;
        color: #444;
    }
.body-wrap .msource-header {
    border-right: 0 none;
}
.body-wrap .member-table td.msource {
    width: 100px;
}
    .body-wrap .member-table tr.inherited td.msource {
        background-image: url(inherited.gif);
        background-position: 2px 4px;
        background-repeat: no-repeat;
        padding-left: 18px;
    }

/* optional method parameters */
.body-wrap .optional {
    color: #444 !important;
}

/* wraps method parameters and return values */
/* also used in ExtJS source for wrapping lists */
.body-wrap .mdetail-params {
    margin-top: 10px;
    font-size: 12px;
    padding-left: 12px;
}

/* Styles for common text elements */
.body-wrap p {
    margin-bottom: 8px;
}
.body-wrap ul {
    list-style-type: circle;
    margin: 12px 12px 12px 24px;
}
.body-wrap strong {
    font-weight: bold;
    font-size: 11px;
    color: #555;
}
.body-wrap em {
    font-style: italic;
}

.body-wrap pre,
.body-wrap code {
    font-family: "Lucida Console", "Courier New", Courier, monospace;
    font-size: 12px;
}
.body-wrap pre {
    background: #F8F8F8;
    border: 1px dotted #ccc;
    margin: 1em ;
    margin-right: 0;
    line-height: 14px;
    padding: 7px;
    margin-left: 0;
}
.body-wrap pre code {
    font-size: 12px !important;
    color: #000;
    line-height: 16px !important;
}
.body-wrap pre code a {
    text-decoration: underline !important;
}

/* Hide long descriptions initially */
/* When "expanded" class set, hide short and show long */
.body-wrap .mdesc .long {
    display: none;
}
.body-wrap .expanded .mdesc .long {
    display: block;
    line-height: 18px;
}
.body-wrap .expanded .mdesc .short {
    display: none;
}

/* "full-details" class is set above body-wrap element */
/* when "Expand All Members" button clicked. */
/* This will expand all long descriptions, */
/* and completely hide small expand-arrows. */
.full-details .mdesc .short {
    display: none !important;
}
.full-details .mdesc .long {
    display: block !important;
}
.full-details .expandable .micon a {
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    cursor: default;
}
.full-details .body-wrap .member-table .expanded td.micon {
    background: #f9f9f9 url(expand-bg.gif) repeat-y top right;
}
