body {
	background: #ededed;
}

.grid {
	margin: 0 auto;
	position: relative;
	width: 700px;
	margin-top: 5px;
}

.add {
	background: url('images/add.png');
}

.delete {
	background: url('images/delete.png');
}

.save {
	background: url('images/save.gif');
}