.new-tab {
    background-image:url(images/new_tab.gif) !important;
}

.tabs {
    background-image:url(images/tabs.gif ) !important;
}

.list {
    padding-left: 16px;
    padding-bottom: 10px;
}

.list li{
    list-style: square;
    padding: 2px;
}
