// Styles for doc tests
.doc-test-preview {
 display: none;
}

.doc-test-ready {
 font-weight: bold;
 color: #333;
}

.doc-test-error {
 font-weight: bold;
 color: orange;
}

.doc-test-failure {
 font-weight: bold;
 color: red;
}

.doc-test-success {
 font-weight: bold;
 color: green;
}