// Styles for error page.
@import "variables";

#failure {
  h1 {
    padding: 10px 0;
    font-family: $docs-heading-font;
    letter-spacing: -1px;
    margin-bottom: 16px;
    font-size: 2.3em;
    color: #66ab16; }
  p {
    margin: 0 0 0.8em; } }

