// Styles for hover menus in class overview toolbar
@import "variables";
@import "mixins";

.hover-menu-button {
  padding-left: 20px;
  cursor: pointer;
  sup {
    font-size: 0.8em;
    position: relative;
    top: -4px; } }

.hover-menu {
  font-size: 12px;
  position: absolute;
  padding: 5px 15px 10px;
  background: #eaeaea;
  z-index: 8;
  top: 21px;
  line-height: 1.3em;
  border: 1px solid #e4e4e4;
  border-top: 1px solid #eaeaea;
  left: -16px;
  @include border-radius-bottom(5px);
  table {
    width: 100%; }
  td {
    vertical-align: top; }
  .item {
    position: relative; }
  a {
    display: block;
    position: relative;
    padding: 2px 30px 2px 0;
    color: $docs-link-hover-color;
    white-space: nowrap;
    &:hover {
      color: $docs-link-color;
      text-decoration: underline; }
    &.close {
      position: absolute;
      width: 12px;
      height: 12px;
      @include opacity(0.5);
      background: url(../images/x12.png) no-repeat;
      text-indent: -9999px;
      padding: 3px 0 0 0;
      right: 0;
      top: 3px;
      &:hover {
        @include opacity(1); } }
    span.protected,
    span.template,
    span.deprecated,
    span.required,
    span.static {
      font-size: 0.6em;
      text-transform: uppercase;
      font-weight: bold;
      padding: 0 0.5em;
      @include border-radius(2px);
      color: white;
      background: #aaa; }
    span.deprecated {
      background-color: #a00; }
    span.required,
    span.static {
      background-color: $docs-text-color; } } }

.hover-menu a {
  font-family: Helvetica, Arial, clean, sans-serif;
  font-size: 12px; }

