// Styles for hover menus in class overview toolbar
@import "variables";
@import "mixins";

.hover-menu-button {
  padding-left: 20px;
  cursor: pointer;
  sup {
    font-size: 0.8em;
    position: relative;
    top: -4px; } }

.hover-menu {
  font-size: 12px;
  position: absolute;
  padding: 5px 15px 10px;
  background: #eaeaea;
  z-index: 8;
  top: 21px;
  border: 1px solid #e4e4e4;
  border-top: 1px solid #eaeaea;
  left: -16px;
  @include border-bottom-radius(5px);
  table {
    width: 100%; }
  td {
    vertical-align: top; }
  .item {
    position: relative; }
  a {
    display: block;
    position: relative;
    padding: 2px 30px 2px 0;
    color: $docs-link-hover-color;
    white-space: nowrap;
    &:hover {
      color: $docs-link-color;
      text-decoration: underline; }
    @include mini-signature; } }

.hover-menu a {
  font-family: Helvetica, Arial, clean, sans-serif;
  font-size: 12px; }

