// Styles for custom tab-bar
@import "variables";
@import "mixins";

.doctabs {
  @include icons;
  padding-left: 10px;
  height: 28px;
  margin-top: 1px;
  position: relative;
  // border-bottom: 1px solid $docs-border-color;

  .doctab {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    top: 0;
    margin-left: -1px;
    cursor: pointer;
    height: 28px;
    .l {
      position: absolute;
      top: 0;
      left: 0px;
      width: 8px;
      height: 29px;
      background: url(../images/tabs.png) no-repeat -8px -141px;
      z-index: 3; }
    .r {
      position: absolute;
      right: 0px;
      top: 0;
      width: 26px;
      height: 29px;
      background: url(../images/tabs.png) no-repeat 0px -239px;
      z-index: 5; }
    .m {
      z-index: 5;
      position: relative;
      padding: 2px 3px 0 6px;
      margin: 0 6px;
      background: url(../images/tabs.png) repeat-x 0 -173px;
      height: 29px;
      overflow: hidden;
      white-space: nowrap;
      /*text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);*/
      font-family: $docs-font;
      font-weight: bold;
      font-size: 11px;
      span, a {
        line-height: 16px;
        display: block;
		  color: #666;
        white-space: nowrap;
        overflow: hidden;
        float: left; }
      a.ov-tab {
        overflow: hidden;
        padding: 0 14px 0 17px; }
      a.ov-tab-text {
        overflow: hidden; }
      a.tabUrl {
        padding: 0 14px 0 17px;
        width: 140px;
		margin-top: 4px;
        overflow: hidden; }
      a.main-tab {
        overflow: hidden;
        padding: 0 14px 0 17px;
        width: 140px; }
      span.icn {
        display: block;
        position: absolute;
        left: 3px;
        top: 6px;
        padding-left: 15px;
      }
	}
    a.close {
      position: absolute;
      width: 13px;
      height: 13px;
      top: 8px;
      right: 9px;
      z-index: 6;
      background: url(../images/tabs.png) no-repeat -7px -110px !important; }
    a.close.ovr {
      background: url(../images/tabs.png) no-repeat -7px -122px !important; } }
  .doctab.highlight {
    border-width: 0;
    .l {
      background: url(../images/tabs.png) no-repeat -10px -271px; }
    .r {
      background: url(../images/tabs.png) no-repeat -10px -335px;
      width: 10px; }
    .m {
      background: url(../images/tabs.png) repeat-x 0 -303px; } }
  .doctab.active {
    border-width: 0;
    .l {
      background: url(../images/tabs.png) no-repeat -9px -369px;
      z-index: 6;
      width: 13px; }
    .r {
      background: url(../images/tabs.png) no-repeat 0px -479px;
      z-index: 5;
      width: 26px; }
    .m {
      background: url(../images/tabs.png) repeat-x 0 -405px;
      z-index: 5;

      a {
		color: #8b0e04 !important;
	  }
     } }
	.doctab.overview .m {
		z-index: 6;
		a.tabUrl {
			width: auto !important;
		}
	}
	.doctab.index .m a {
		background: url(../images/tabs.png) no-repeat 2px 0px;
		padding-left: 16px;
		padding-right: 15px;
	}
	.doctab.classes .m a {
		background: url(../images/tabs.png) no-repeat 2px -20px;
		padding-left: 16px;
		padding-right: 15px;
	}
	.doctab.guides .m a {
		background: url(../images/tabs.png) no-repeat 2px -60px;
		padding-left: 16px;
		padding-right: 15px;
	}
	.doctab.videos .m a {
		background: url(../images/tabs.png) no-repeat 2px -40px;
		padding-left: 16px;
		padding-right: 15px;
	}
	.doctab.examples .m a {
		background: url(../images/tabs.png) no-repeat 1px -93px;
		padding-left: 16px;
		padding-right: 12px;
	}
	.doctab.comments .m a {
		background: url(../images/tabs.png) no-repeat 2px -72px;
		padding-left: 16px;
		padding-right: 16px;
	}

	.tab-overflow {
    position: absolute;
    right: 5px;
    top: 8px;
    button {
      cursor: pointer;
      display: block;
      width: 14px;
      height: 14px;
      background: url(../images/tabs.png) no-repeat -7px -513px;
      border: 0; } } }

.tab-menu {
  .x-menu-item-link {
    padding-top: 5px; }
  .overflow {
    background: #e3e3e3; }
  .close-all {
    background: #e3e3e3;
    border-top: 1px dotted #aaa;
    font-weight: bold;
    a .x-menu-item-text {
      color: #666; } }
  .x-menu-item-icon.close {
    background: url(../images/x12.png) no-repeat 4px 4px; } }

