// Colors
$docs-bg-color: #FFF !important;
$docs-text-color: #222;
$docs-link-color: #258aaf;
$docs-link-hover-color: #7aa1b0;
$docs-border-color: #b55557;
$docs-heading-color: #66ab16;

// Fonts
$docs-font: 'Heletica Neue',Tahoma,Arial,sans-serif;
$docs-heading-font: 'Helvetica Neue',Arial,Verdana,sans-serif;
$docs-monospace-font: "Menlo", "Courier New", "Courier", monospace;
