// Colors
$docs-bg-color: #f8f8f8;
$docs-text-color: #484848;
$docs-link-color: #083772;
$docs-link-hover-color: #0464BB;
$docs-border-color: #bfbfbf;
$docs-heading-color: #66ab16;

// Fonts
$docs-font: "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
$docs-heading-font: "Exo", sans-serif;
$docs-monospace-font: "Menlo", "Courier New", "Courier", monospace;
