// Unless you want to include all components, you must set $include-default to false
// IF you set this to true, you can also remove lines 10 to 38 of this file
$include-default: true;

// Custom theme for docs app

$base-color: #e9e9e9;
$font-family: Helvetica Neue, Arial, sans-serif;

$tab-base-color: #e9e9e9;
$toolbar-background-color: #e9e9e9;
$panel-border-color: #bfbfbf;
$panel-body-font-size: 13px;
$grid-row-cell-selected-background-color: #D9E8FB;

@import 'ext4/default/all';

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true

// For browsers not supporting gradients: Opera, IE.
// Hide the toolbar/button background images of the default blue theme.
// In theory we should generate the images using `sencha slice`,
// but because we only need them for toolbar/button, it is simpler
// to just downgrade the presentation for these browsers.
.x-nlg {
  .x-toolbar-default {
    background-image: none !important; }

  .x-btn-default-toolbar-small-focus,
  .x-btn-default-toolbar-small-over,
  .x-btn-default-toolbar-small-pressed {
    background-image: none; } }
