@mixin box-shadow($x, $y, $radius, $color) {
  -webkit-box-shadow: $x $y $radius $color;
  -moz-box-shadow: $x $y $radius $color; }

@mixin border-radius($size) {
  border-radius: $size;
  -moz-border-radius: $size; }

@mixin border-radius-bottom($size) {
  border-bottom-left-radius: $size;
  border-bottom-right-radius: $size; }

@mixin border-top-left-radius($size) {
  border-top-left-radius: $size;
  -moz-border-radius-topleft: $size; }

@mixin border-top-right-radius($size) {
  border-top-right-radius: $size;
  -moz-border-radius-topright: $size; }

@mixin border-bottom-left-radius($size) {
  -webkit-border-bottom-left-radius: $size;
  -moz-border-radius-bottomleft: $size; }

@mixin border-bottom-right-radius($size) {
  border-bottom-right-radius: $size;
  -moz-border-radius-bottomright: $size; }

@mixin vertical-gradient($fromCol, $toCol) {
  background: -webkit-gradient(linear, left top, left bottom, from($fromCol), to($toCol));
  background: -moz-linear-gradient(top, $fromCol, $toCol); }

@mixin horizontal-gradient($fromCol, $toCol) {
  background: -webkit-gradient(linear, left top, right top, from($fromCol), to($toCol));
  background: -moz-linear-gradient(left, $fromCol, $toCol); }

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=$opacity*100); }

@mixin icons {
  .icon-pkg {
    background: url(../images/icons.png) no-repeat -3px -57px !important; }
  .icon-class {
    background: url(../images/icons.png) no-repeat -3px -84px !important; }
  .icon-singleton {
    background: url(../images/icons.png) no-repeat -3px -111px !important; }
  .icon-component {
    background: url(../images/icons.png) no-repeat -3px -137px !important; }
  .icon-book {
    background: url(../images/icons.png) no-repeat -3px -5px !important; }
  .icon-event {
    background: url(../images/icons.png) no-repeat -3px -245px !important; }
  .icon-property {
    background: url(../images/icons.png) no-repeat -3px -192px !important; }
  .icon-method {
    background: url(../images/icons.png) no-repeat -3px -165px !important; }
  .icon-cfg {
    background: url(../images/icons.png) no-repeat -3px -219px !important; }
  .icon-subclass {
    background: url(../images/icons.png) no-repeat -3px -299px !important; }
  .icon-fav {
    background: url(../images/icons.png) no-repeat -3px -326px !important; }
  .icon-hist {
    background: url(../images/icons.png) no-repeat -3px -380px !important; } }

@mixin icon-fav {
  background: url(../images/icons.png) no-repeat -4px -353px; }
@mixin icon-fav-over {
  background: url(../images/icons.png) no-repeat -4px -326px; }

@mixin gray-h4 {
  h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 90%;
    padding: 11px 0 5px 0;
    text-transform: uppercase;
    color: #999999; } }

@include icons;

html {
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  font-family: 13px / 1.231 "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  min-width: 980px;
  color: #484848;
  background: #f8f8f8;
  min-height: 100%; }

#loading {
  position: absolute;
  width: 180px;
  margin: -70px 0 0 -90px;
  height: 140px;
  top: 50%;
  left: 50%;
  .title {
    background: url(../images/loading-title.png) no-repeat;
    position: absolute;
    display: block;
    top: 0;
    left: 0px;
    width: 180px;
    height: 27px; }
  .logo {
    background: url(../images/loading.gif) no-repeat;
    position: absolute;
    display: block;
    top: 25px;
    left: 22px;
    width: 120px;
    height: 120px; } }

a {
  color: #083772;
  text-decoration: none; }

a:hover {
  color: #0464BB; }

.notice {
  background-color: #fff99c;
  text-align: center;
  color: #434343;
  font-weight: bold;
  padding: 8px 0; }

.logo {
  background: url(../images/icon.png) 0 -787px no-repeat; }

.search {
  background: url(../images/search-box.png) no-repeat;
  padding: 3px 0 0 25px; }
.search .x-form-text {
  border: 0; background: 0; }
#search-field .reset {
  background: url(../images/x.png) no-repeat;
  width: 16px;
  height: 16px;
  border: 0;
  margin: 3px 0 0 9px; }


#search-dropdown {
  border-style: solid;
  border-color: #bebdbf;
  border-width: 1px 1px 0 1px;
  background: white;
  position: absolute;
  width: 190px;
  top: 23px;
  left: 20px;
  z-index: 5;

  .item, .total {
    display: block;
    cursor: pointer;
    overflow: hidden;
    padding: 5px 5px 5px 30px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #bebdbf;
    color: #605f5f;
    .title {
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis; }
    .class {
      font-size: 0.85em;
      overflow: hidden;
      text-overflow: ellipsis; } }
  .item.cfg {
    background: url(../images/configs.png) no-repeat 0 3px; }
  .item.property {
    background: url(../images/properties.png) no-repeat 3px 8px; }
  .item.method {
    background: url(../images/methods.png) no-repeat 3px 5px; }
  .item.event {
    background: url(../images/events.png) no-repeat 4px 0px; }
  .item.cls {
    background: url(../images/class-sm.png) no-repeat 3px 5px; }
  .item.x-item-selected {
    background-color: #ffffaa; }
  .item.x-view-over {
    background-color: #ffffaa; }
  .total {
    cursor: auto;
    text-align: right;
    font-size: 0.85em; } }


#center-container, #west-region-container {
  background: #F8F8F8 url(../images/headBG.png) repeat-x; }

#nested-west-region-container {
  background: #F8F8F8;
  .x-splitter {
    background: #ccc; } }

#center-container {
  padding: 20px;

  h1 {
    font-family: "klavika-web-1", "klavika-web-2", sans-serif;
    letter-spacing: -1px;
    padding-bottom: 5px;
    padding-top: 2px;
    border-bottom: 1px #f1f1f1;
    font-size: 2.3em;
    color: #66ab16;
    a {
      color: #66ab16; }
    span {
      color: #929292;
      letter-spacing: 0;
      margin-left: 10px;
      font-size: 0.6em; }
    span.private {
      float: right;
      font-weight: bold;
      color: #e7ba27;
      letter-spacing: 0px; } }

  h1.class {
    a {
      background: url(../images/class-m.png) no-repeat 0 -5px;
      margin-left: -12px;
      padding: 0.1em 0 0.4em 2em; } }
  h1.component {
    a {
      background: url(../images/component-m.png) no-repeat 0 -5px;
      margin-left: -12px;
      padding: 0.1em 0 0.4em 2em; } }
  h1.singleton {
    a {
      background: url(../images/singleton-m.png) no-repeat 0 -5px;
      margin-left: -12px;
      padding: 0.1em 0 0.4em 2em; } } }

.container {
  background: #fff;
  @include border-radius(5px);
  @include box-shadow(0, 0, 4px, rgba(0, 0, 0, 0.4));
  padding: 20px;
  line-height: 1.4em;
  h3 {
    font-size: 1.2em;
    padding: 1em 0 0.4em 0;
    font-weight: normal; }
  .legend.guides {
    padding: 15px;
    width: 560px !important;
    line-height: 1.7em;
    h1 {
      font-size: 1.7em !important; }
    .lft {
      float: left;
      width: 200px; }
    .mid {
      float: left;
      width: 100px;
      margin-left: 20px; }
    .right {
      margin-left: 370px; }
    a {
      display: block;
      height: 32px;
      margin: 10px 0;
      padding-left: 40px; }
    .egLink {
      border-top: 1px solid #ebebeb;
      a {
        padding-left: 10px;
        margin: 10px 0 0 0;
        height: auto; } }
    .getting_started {
      background: url(../images/guides.png) no-repeat 0px 0px; }
    .drawing_and_charting {
      background: url(../images/guides.png) no-repeat 0px -288px; }
    .layouts_and_containers {
      background: url(../images/guides.png) no-repeat 0px -130px; }
    .application_architecture {
      background: url(../images/guides.png) no-repeat 0px -98px; }
    .class_system {
      background: url(../images/guides.png) no-repeat 0px -31px; }
    .data {
      background: url(../images/guides.png) no-repeat 0px -66px; }
    .grid {
      background: url(../images/guides.png) no-repeat 0px -193px; }
    .tree {
      background: url(../images/guides.png) no-repeat 0px -228px; }
    .components {
      background: url(../images/guides.png) no-repeat 0px -160px; }
    .theming {
      background: url(../images/guides.png) no-repeat 0px -320px; }
    .direct {
      background: url(../images/guides.png) no-repeat 0px -387px; }
    .accessibility {
      background: url(../images/guides.png) no-repeat 0px -453px; } }
  .category {
    clear: both;
    background-color: #f7f7f7;
    border: 1px solid #ebebeb;
    padding: 20px 10px 20px 20px;
    margin: 0 20px 20px 0;
    @include border-radius(10px); }
  .category:last-child {
    margin-bottom: 0; }
  .lft {
    float: left;
    width: 250px;
    margin-left: 20px; }
  .mid {
    float: left;
    width: 280px; }
  .rgt {
    float: left; }
  .links {
    margin-left: 1.5em;
    a {
      display: block; }
    a.more {
      font-weight: bold; } }

  .legend {
    @include border-radius(5px);
    background-color: #f7f7f7;
    border: 1px solid #ebebeb;
    padding: 0 15px 15px 10px;
    margin: 0 20px 10px 0;
    &.icons {
      width: 120px;
      float: right; }
    ul {
      float: left; }
    .icn {
      padding-left: 22px; }
    a {
      display: block; }
    @include gray-h4; } }


#center-container .class-list {
  h1.pb { margin-bottom: 12px; }
  h2 {
    font-weight: bold; }
  td {
    padding: 0 0 0 20px;
    vertical-align: top; }
  .group {
    h1 {
      padding-bottom: 10px; }
    background: #fafafa;
    padding: 10px 20px 20px 20px;
    margin: 0 20px 20px 0;
    @include border-radius(10px);
    h2 {
      border-bottom: 1px solid #dddddd;
      padding-bottom: 2px;
      margin-bottom: 2px;
      padding-top: 10px; }
    td.l {
      span {
        font-family: courier;
        padding-right: 3px; } } }
  .piechartLinks {
    a {
      display: block; } } }


.class-tree {
  .x-grid-cell-inner {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 13px;
    position: relative;
    -webkit-transition: background-color 0.15s linear;
    @include icons;
    a.fav {
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;
      right: 7px;
      top: 0;
      &.show {
        @include icon-fav-over; } } }
  .x-grid-row-over {
    .x-grid-cell-inner {
      -webkit-transition: background-color 0.15s linear;
      a.fav {
        @include icon-fav;
        &:hover {
          @include icon-fav-over; } } } }
  .x-panel-body {
    background: #f8f8f8; }
  .sortBy {
    position: relative;
    padding-bottom: 10px;
    #expandAll {
      width: 13px;
      height: 15px;
      position: absolute;
      top: 4px;
      right: 40px;
      display: block;
      background: url(../images/expandcollapse.png) no-repeat -14px 2px; }
    #collapseAll {
      width: 13px;
      height: 15px;
      position: absolute;
      top: 4px;
      right: 20px;
      display: block;
      background: url(../images/expandcollapse.png) no-repeat 0 2px; } }
  .favorites {
    padding: 10px;
    margin: 0 10px 10px 0; } }

.x-scroller-vertical {
  border: 0; }


.class-overview, #guide {
  pre {
    background-color: #f7f7f7;
    border: solid 1px #e8e8e8;
    @include border-radius(5px);
    color: #314e64;
    font-family: "Menlo", "Courier New", Courier, monospace;
    padding: 10px 20px;
    line-height: 1.3em;
    margin: 10px 0 14px;
    overflow-x: auto;
    overflow-y: hidden;
    code {
      font-family: "Menlo", "Courier New", Courier, monospace; }
    i,em {
      font-style: normal; } }
  pre.prettyprint {
    padding: 10px 12px; } }

.class-overview {
  img.screenshot {
    display: block;
    padding: 10px 0; }
  .hierarchy {
    @include border-radius(5px);
    background-color: #f7f7f7;
    border: 1px solid #ebebeb;
    padding: 0 15px 15px 10px;
    float: right;
    margin: 0 0 20px 20px;
    font-size: 12px;
    @include gray-h4;
    .mixin, .alternate-class-name {
      padding: 0 0 0 12px;
      margin-top: 3px; }
    .alternate-class-name {
      color: #484848; }
    .subclass {
      background: url(../images/elbow-end.gif) no-repeat -5px 0;
      margin-top: 3px;
      padding: 0 0 0 12px;
      &.first-child {
        background: none;
        padding-left: 15px; } } } }

.class-overview, #guide {
  min-height: 100px;
  .clr {
    clear: both; }
  p {
    padding: 0;
    margin: 0 0 0.8em; }
  p:last-child { margin: 0; }
  em {
    font-style: italic; }
  strong {
    font-weight: bold; }
  ul {
    margin: 0 0 1em 2em;
    li {
      list-style: disc outside; } }
  h3 {
    font-weight: bold;
    font-size: 1.1em; }
  h4 {
    font-weight: bold; } }

#guide {
  padding-right: 10px;
  font-size: 14px;
  h1 {
    background: url(../images/doc-m.png) no-repeat -5px -5px;
    padding: 10px 0 10px 55px;
    font-family: "klavika-web-1", "klavika-web-2", sans-serif;
    letter-spacing: -1px;
    margin-bottom: 16px;
    font-size: 2.3em;
    color: #66ab16; }
  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
    line-height: 20px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    color: #314e64;
    margin: 30px 0 15px;
    padding-bottom: 5px; }
  h3 {
    font-weight: bold;
    color: #314e64;
    margin-top: 1em;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px; }
  hr {
    display: none; } }


.class-overview {
  .deprecated-signature, .protected-signature, .static-signature, .constructor-signature {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 0.7em;
    @include border-radius(2px);
    margin-left: 5px;
    padding: 0 3px; }
  .deprecated-signature {
    background-color: #aa0000; }
  .protected-signature {
    background-color: #aaa; }
  .static-signature {
    background-color: #484848; }
  .constructor-signature {
    margin-left: 0;
    margin-right: 5px;
    background-color: #484848; }
  .cfgGroup {
    margin: 10px 0 3px 0; } }

.members {
  color: #444444;
  padding-top: 10px;
  clear: both;
  first-child: {
    padding-top: 0; };
  .pre {
    font-family: "Menlo", "Courier New", Courier, monospace;
    font-size: 0.9em; }
  .definedBy {
    float: right;
    padding: 20px 20px 0 0;
    font-weight: bold;
    color: #666666; }
  h3.pa {
    padding: 10px 0 5px 0; }
  h3.members-title {
    padding: 15px 0 10px 30px;
    font-size: 1.3em;
    font-weight: bold; }
  #m-cfg .members-title {
    background: url(../images/configs.png) no-repeat 0 15px; }
  #m-property .members-title {
    background: url(../images/properties.png) no-repeat 0 19px; }
  #m-method .members-title {
    background: url(../images/methods.png) no-repeat 0 16px; }
  #m-event .members-title {
    background: url(../images/events.png) no-repeat 0 11px; }
  ul ul {
    list-style: circle;
    margin-top: 1em; }
  .sub-desc {
    margin: 0.5em 0 1em; }
  .description {
    .short {
      p {
        margin: 0; } } }
  a {
    text-decoration: none; }
  .member.first-child {
    border-width: 1px; }
  .member {
    position: relative;
    min-height: 2.5em;
    .long {
      display: none; }
    .meta {
      float: right;
      text-align: right; }
    a.definedIn {
      color: #888888;
      font-size: 0.9em;
      &:hover {
        color: #0464bb; } }
    a.side {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background: #aaaaaa;
      @include horizontal-gradient(#f9f9f9, #eff0f2);
      span {
        display: block;
        width: 15px; }
      &.expandable {
        span {
          background: url(../images/member-collapsed.gif) no-repeat 2px 2px; }
        &:hover {
          span {
            background: url(../images/member-hover.gif) no-repeat 2px 2px; } } } }
    a.viewSource {
      color: rgba(0, 0, 0, 0);
      -webkit-transition: color 0.2s linear;
      font-size: 0.9em;
      &:hover {
        color: #0464bb; } }
    &:hover {
      a.viewSource {
        color: rgba(128, 128, 128, 1);
        -webkit-transition: color 0.2s linear; } }
    &.open {
      a.side.expandable {
        @include horizontal-gradient(#ebf3fe, #d9e8fc);
        span {
          background: url(../images/member-expanded.gif) no-repeat 1px 2px; } }
      .short {
        display: none; }
      .long {
        display: block; } }
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 0 1px 1px 1px;
    padding: 5px 22px;
    .name {
      font-weight: bold; }
    .title {
      padding-bottom: 3px; }
    .deprecated {
      border: 1px solid #999;
      @include border-radius(5px);
      color: #600;
      background-color: #fee;
      padding: 10px 50px;
      text-align: center;
      strong {
        text-transform: uppercase;
        color: white;
        @include border-radius(2px);
        padding: 0 3px;
        background-color: #aa0000; } } } }

.expandAllMembers {
  background: url(../images/expandcollapse.png) no-repeat -14px 2px !important; }
.collapseAllMembers {
  background: url(../images/expandcollapse.png) no-repeat 2px 2px !important; }

.member-links {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #bfbfbf;
  // @include vertical-gradient(#e8e8e8, #eaeaea)
  .expandAllMembers {
    background: url(../images/expandcollapse.png) no-repeat -14px 2px; }
  .collapseAllMembers {
    background: url(../images/expandcollapse.png) no-repeat 2px 2px; } }


.hover-menu-button {
  padding-left: 20px;
  cursor: pointer;
  // The same button when used for favorites and history
  &.sidebar {
    padding-right: 10px; }
  sup {
    font-size: 0.8em;
    position: relative;
    top: -4px; } }

.hover-menu {
  font-size: 12px;
  position: absolute;
  padding: 5px 15px 10px;
  background: #eaeaea;
  z-index: 8;
  top: 21px;
  line-height: 1.3em;
  border: 1px solid #bfbfbf;
  border-top: 1px solid #eaeaea;
  left: -16px;
  @include border-radius-bottom(5px);
  // The same menu when used for favorites and history
  &.sidebar {
    min-width: 220px;
    left: 20px !important; }
  table {
    width: 100%; }
  td {
    vertical-align: top; }
  .item {
    position: relative; }
  a {
    display: block;
    position: relative;
    padding: 2px 30px 2px 0;
    color: #0464bb;
    white-space: nowrap;
    &:hover {
      color: #083772;
      text-decoration: underline; }
    &.close {
      position: absolute;
      width: 12px;
      height: 12px;
      @include opacity(0.5);
      background: url(../images/x12.png) no-repeat;
      text-indent: -9999px;
      padding: 3px 0 0 0;
      right: 0;
      top: 3px;
      &:hover {
        @include opacity(1); } } } }
