@import "variables";
@import "mixins";

@import "reset";
@import "global";
@import "scrollbars";
@import "print";

@import "loading";
@import "header";
@import "footer";
@import "tabs";
@import "toolbar";
@import "hover_menu";
@import "trees";
@import "thumb_list";

@include icons;

.notice {
  background-color: #ffc;
  text-align: center;
  color: #434343;
  font-weight: bold;
  padding: 8px 0; margin: 0 20px 15px 0;
  @include border-radius(8px); }

#center-container {
  h1 {
    font-family: $docs-heading-font;
    letter-spacing: -1px;
    padding-bottom: 5px;
    padding-top: 2px;
    border-bottom: 1px #f1f1f1;
    font-size: 2.3em;
    color: #66ab16;
    a {
      color: #66ab16; }
    span {
      color: #929292;
      letter-spacing: 0;
      margin-left: 10px;
      font-size: 0.6em; }
    span.class-source-tip {
      font-size: 0.5em;
      position: absolute;
      top: 35px;
      left: 100px;
      display: none; }
    span.private {
      float: right;
      margin-right: 50px;
      font-weight: bold;
      color: #e7ba27;
      letter-spacing: 0px; } }

  .print {
    background: url(../images/print.png) no-repeat;
    position: absolute;
    right: 0;
    top: 5px;
    display: block;
    text-indent: -9999px;
    width: 32px;
    height: 32px; }
  .print.guide {
    right: 15px;
    top: 15px; }

  h1.class {
    a {
      background: url(../images/class-m.png) no-repeat 0 -5px;
      margin-left: -12px;
      padding: 0.1em 0 0.4em 2em; } }
  h1.component {
    a {
      background: url(../images/component-m.png) no-repeat 0 -5px;
      margin-left: -12px;
      padding: 0.1em 0 0.4em 2em; } }
  h1.singleton {
    a {
      background: url(../images/singleton-m.png) no-repeat 0 -5px;
      margin-left: -12px;
      padding: 0.1em 0 0.4em 2em; } } }

.card-panel {
  line-height: 1.5em;
  h3 {
    font-size: 1.2em;
    padding: 1em 0 0.4em 0;
    font-weight: normal; } }

// Styles for index page
#center-container .class-list {
  // Main heading at the top of the page
  h1.top {
    margin-bottom: 12px; }
  // All sections are inside gray round-corners bubbles
  .section {
    @include border-radius(5px);
    background-color: #f7f7f7;
    border: 1px solid #ebebeb;
    padding: 0 15px 15px 10px;
    margin: 0 10px 20px 0;
    // Icons legend, floated to right
    &.legend {
      width: 120px;
      float: right;
      @include gray-h4;
      ul {
        float: left; }
      .icon {
        padding-left: 22px; }
      a {
        display: block; } }
    // Guides section at top left
    &.guides {
      padding: 15px 35px 15px 15px;
      line-height: 1.7em;
      float: left;
      h1 {
        font-size: 1.7em !important; }
      .lft, .mid, .rgt {
        float: left;
        margin-left: 20px; }
      a {
        display: block;
        height: 32px;
        margin: 10px 0;
        padding-left: 40px; }
      // Link to examples
      .examples {
        clear: both;
        border-top: 1px solid #ebebeb;
        a {
          padding-left: 10px;
          margin: 10px 0 0 0;
          height: auto; } }
      // Default icon for guide
      .guide {
        background: url(../images/guide-icon.png) no-repeat; } }
    // Sections for class lists
    &.classes {
      clear: both;
      padding: 20px 10px 20px 20px;
      .lft {
        float: left;
        width: 250px;
        margin-left: 20px; }
      .mid {
        float: left;
        width: 280px; }
      .rgt {
        float: left; }
      .links {
        margin-left: 1.5em;
        a {
          display: block; }
        a.more {
          font-weight: bold; } } } } }


.class-overview {
  .hierarchy {
    @include border-radius(5px);
    background-color: #f7f7f7;
    border: 1px solid #ebebeb;
    padding: 0 15px 15px 10px;
    float: right;
    margin: 0 0 40px 60px;
    font-size: 12px;
    @include gray-h4;
    .dependency, .alternate-class-name {
      padding: 0 0 0 12px;
      margin-top: 3px; }
    .alternate-class-name {
      color: $docs-text-color; }
    .subclass {
      background: url(../images/elbow-end.gif) no-repeat -5px 0;
      margin-top: 3px;
      padding: 0 0 0 12px;
      &.first-child {
        background: none;
        padding-left: 15px; } } } }

.class-overview, .guide-container {
  min-height: 100px;
  .clr {
    clear: both; }
  p, ul {
    color: #484848;
    max-width: 900px; }
  p {
    padding: 0;
    margin: 0 0 1em; }
  p:last-child {
    margin: 0; }
  ul {
    margin: 0 0 1em 2em;
    li {
      list-style: disc outside; } }
  ol {
    margin: 0 0 1em 2em;
    li {
      list-style: decimal outside; } }
  em {
    font-style: italic; }
  strong {
    font-weight: bold; }
  h3 {
    font-weight: bold;
    font-size: 1.1em; }
  h4 {
    font-weight: bold; }
  pre {
    background-color: #f7f7f7;
    border: solid 1px #e8e8e8;
    @include border-radius(5px);
    color: #314e64;
    font-family: $docs-monospace-font;
    padding: 10px 20px;
    line-height: 1.3em;
    margin: 10px 0 14px 0;
    max-width: 900px;
    overflow-x: auto;
    overflow-y: hidden;
    code {
      font-family: $docs-monospace-font; }
    i,em {
      font-style: normal; } }
  pre.prettyprint {
    padding: 10px 12px; } }

@mixin guides-h2-heading {
  font-family: $docs-font;
  letter-spacing: -1px;
  line-height: 20px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 20px;
  font-weight: bold;
  color: #314e64;
  margin: 30px 0 15px;
  padding-bottom: 5px; }

@mixin guides-h3-heading {
  font-weight: bold;
  color: #314e64;
  margin-top: 0.5em;
  padding-top: 16px;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 4px; }

#center-container .guide-container {
  padding: 10px;
  font-size: 14px;
  h1 {
    background: url(../images/doc-m.png) no-repeat -5px -5px;
    padding: 10px 0 10px 55px;
    font-family: $docs-heading-font;
    letter-spacing: -1px;
    margin-bottom: 16px;
    font-size: 2.3em;
    color: #66ab16; }
  h2 {
    @include guides-h2-heading; }
  h3 {
    @include guides-h3-heading; }
  hr {
    display: none; } }

#failure {
  h1 {
    padding: 10px 0;
    font-family: $docs-heading-font;
    letter-spacing: -1px;
    margin-bottom: 16px;
    font-size: 2.3em;
    color: #66ab16; }
  p {
    margin: 0 0 0.8em; } }

// Screenshot image created by {@img} tag. Centered.
// With a span containing the caption for the image.
p.screenshot {
  img {
    display: block;
    margin: 0 auto; }
  span {
    display: block;
    text-align: center;
    font-size: smaller; }}

// Nice styles for headings inside documentation
#center-container .doc-contents {
  h1, h2 {
    @include guides-h2-heading; }
  h3 {
    @include guides-h3-heading; } }

.class-overview {
  .private {
    border: 1px solid #999;
    @include border-radius(5px);
    color: #600;
    background-color: #fee;
    padding: 10px 50px;
    text-align: center; }
  .deprecated-signature, .protected-signature, .static-signature, .required-signature, .template-signature {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 0.7em;
    @include border-radius(2px);
    margin-left: 5px;
    padding: 0 3px; }
  .deprecated-signature {
    background-color: #aa0000; }
  .protected-signature, .template-signature {
    background-color: #aaa; }
  .static-signature {
    background-color: $docs-text-color; }
  .required-signature {
    background-color: $docs-text-color; }
  .constructor-signature {
    margin-left: 0;
    margin-right: 3px;
    color: $docs-link-color; }
  .cfgGroup {
    margin: 10px 0 3px 0; } }

.members {
  color: #444444;
  padding-top: 10px;
  clear: both;
  first-child: {
    padding-top: 0; };
  .pre {
    font-family: $docs-monospace-font;
    font-size: 0.9em; }
  .definedBy {
    float: right;
    padding: 0 20px 0 0;
    font-weight: bold;
    color: #666666; }
  .subsection .definedBy {
    // do not lower definedBy float when inside subsection
    padding-top: 0; }
  h3.pa {
    padding: 10px 0 5px 0; }
  h3.members-title {
    margin: 20px 0 5px 0;
    padding: 0 0 0 30px;
    font-size: 1.3em;
    font-weight: bold; }
  #m-cfg,
  #m-property,
  #m-method,
  #m-event,
  #m-comment {
    margin-bottom: 40px; }
  #m-cfg .members-title {
    background: url(../images/configs.png) no-repeat 0 -1px; }
  #m-property .members-title {
      background: url(../images/properties.png) no-repeat 0 4px; }
  #m-method .members-title {
    background: url(../images/methods.png) no-repeat 0 2px; }
  #m-event .members-title {
    background: url(../images/events.png) no-repeat 0 -2px; }
  #m-comment .members-title {
    background: url(../images/icons.png) no-repeat 1px -490px; }
  h4.members-subtitle {
    padding-left: 30px;
    margin: 10px 0 7px 0; }
  ul ul {
    list-style: circle;
    margin-top: 1em; }
  .sub-desc {
    margin: 0.5em 0 1em; }
  .description {
    .short {
      p {
        margin: 0; } } }
  a {
    text-decoration: none; }
  .member {
    position: relative;
    min-height: 2.5em;
    border-color: #E0E0E0;
    border-width: 0 0 1px 0;
    padding: 10px 22px;
    @include member-expander;
    &.first-child {
      border-width: 1px 0; }
    .long {
      display: none; }
    .meta {
      float: right;
      text-align: right; }
    a.definedIn, a.viewSource {
      font-family: "Helvetica", "Arial", sans-serif; }
    a.definedIn {
      color: #888888;
      font-size: 0.9em;
      &:hover {
        color: $docs-link-hover-color; } }
    a.viewSource {
      color: rgba(0, 0, 0, 0);
      -webkit-transition: color 0.2s linear;
      font-size: 0.9em;
      &:hover {
        color: $docs-link-hover-color; } }
    &:hover {
      a.viewSource {
        color: rgba(128, 128, 128, 1);
        -webkit-transition: color 0.2s linear; } }
    &.open {
      a.side.expandable {
        @include horizontal-gradient(#ebf3fe, #d9e8fc);
        span {
          background: url(../images/member-expanded.gif) no-repeat 1px 2px; } }
      .short {
        display: none; }
      .long {
        display: block; } }
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 0 1px 1px 1px;
    padding: 5px 22px;
    .name {
      font-weight: bold; }
    .title {
      padding-bottom: 3px; }
    .template {
      border: 1px solid #999;
      @include border-radius(5px);
      background-color: #eee;
      padding: 10px 50px;
      text-align: center; }
    .deprecated {
      border: 1px solid #999;
      @include border-radius(5px);
      color: #600;
      background-color: #fee;
      padding: 10px 50px;
      text-align: center;
      strong {
        text-transform: uppercase;
        color: white;
        @include border-radius(2px);
        padding: 0 3px;
        background-color: #aa0000; } } } }

// Some margins for the stuff on video page.
#video {
  object, p, h1 {
    margin: 15px; } }

#exampleindex,
#videoindex,
#guideindex,
#classindex {
  padding: 15px 10px 10px 10px; }


#center-container h1.class a,
#center-container h1.component a,
#center-container h1.singleton a { /* You should really give these a class of Page Title rather than call out individually */
  margin-left: -3px; }

#center-container .doc-contents h1,
#center-container .doc-contents h2 {
  letter-spacing: 0; }

.inline-example-cmp {
  margin-bottom: 1em; }

.x-panel-body-default {
  border-width: 0; }


// Examples
@import "examples";

// Comments
@import "comments";

// Welcome Pages
@import "extjs_welcome";
@import "touch_welcome";
