<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <style type="text/css">
        .box {
            position: absolute;
            border: 1px solid black;
            width: 100px;
            height: 100px;
            left: auto;
        }
        .container {
            border-color: red !important;
            direction: rtl;
            overflow: auto;
        }
    </style>
</head>
<body>
    <div class="box container" style="left:50px;top:50px;width:411px;height:200px;">
        <div class="box" style="background-color: red; right: 0px;"></div>
        <div class="box" style="background-color: green; right: 100px;"></div>
        <div class="box" style="background-color: blue; right: 200px;"></div>
        <div class="box" style="background-color: orange; right: 300px;"></div>
        <div class="box" style="background-color: pink; right: 400px;"></div>
        <div class="box" style="background-color: yellow; right: 500px;"></div>
    </div>
    <div class="box container" style="left:50px;top:350px;width:380px;height:200px;">
        <div class="box" style="background-color: red; right: 0px;"></div>
        <div class="box" style="background-color: green; right: 100px;"></div>
        <div class="box" style="background-color: blue; right: 200px;"></div>
        <div class="box" style="background-color: orange; right: 300px;"></div>
        <div class="box" style="background-color: pink; right: 400px;"></div>
        <div class="box" style="background-color: yellow; right: 500px;"></div>
    </div>
</body>
</html>